<form [formGroup]="loginForm">

    <div class="login-form">
        <label>Email: </label>
        <input id="email" type="email" formControlName="email" [(ngModel)]="loginCredentials.email">

        <div *ngIf="(loginForm.controls['email'].invalid && loginForm.controls['email'].touched) || loginForm.controls['email'].dirty">
            <small *ngIf="loginForm.controls['email'].errors?.required" class="text-danger">Email address is required.</small>
            <small *ngIf="loginForm.controls['email'].errors?.pattern" class="text-danger">Please provide a valid email address.</small>
        </div>
    </div>

    <div class="login-form">
        <label>Password: </label>
        <input id="password" type="password" formControlName="password" [(ngModel)]="loginCredentials.password">

        <div *ngIf="(loginForm.controls['password'].invalid && loginForm.controls['password'].touched) || loginForm.controls['password'].dirty">
            <small *ngIf="loginForm.controls['password'].errors?.required" class="text-danger">Password is required.</small>
            <small *ngIf="loginForm.controls['password'].errors?.pattern" class="text-danger">Please provide a valid password.</small>
        </div>
    </div>

    <button (click)="onLogin()">login</button>
</form>